.reports {
    &Block {
        width: 100%;
    }
    &BotWrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &ButtonWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }
    &Content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__button {
        padding: 10px 13px;
        justify-content: center;
        align-items: center;
        height: 51px;
        width: 100%;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.16px;
    }
    &__img {
        width: 100%;
    }
    &ImgWrapper {
        overflow: auto;
    }
    &__subTitle {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0.14px;
        margin-bottom: 15px;
    }
}

@media (min-width: 1056px) {
    .reports {
        &BotWrapper {
            gap: 32px;
            flex-direction: row;
            align-items: center;
        }
        &Content {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 32px 32px;
        }
        &__img {
            aspect-ratio: 2 / 1;
            width: 100%;
            object-fit: cover;
        }
        &__graphs > img {
            width: 100%;
        }
        &__subTitle {
            font-size: 30px;
            line-height: 110%;
            margin-bottom: 32px;
        }
    }
}
