.aboutFull {
    display: flex;
    flex-direction: column;
    gap: 32px;
    &ContentWrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &RightWrapper {
        width: 100%;
    }
    &InfoWrapper {
        color: var(--gray-100, #161616);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    &__intro {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    &__img {
        aspect-ratio: 1/ 1;
        object-fit: cover;
        width: 100%;
    }
}

@media (min-width: 1056px) {
    .aboutFull {
        flex-direction: row;
        gap: 32px;
        &InfoWrapper {
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 0.14px;
            text-align: left;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px 32px;
        }
        &IntroWrapper {
            width: 100%;
        }
        &LeftWrapper {
            width: calc((100% - 32px) / 2);
            height: fit-content;
        }
        &RightWrapper {
            width: calc((100% - 32px) / 2);
            display: flex;
        }
        &__img {
            aspect-ratio: auto;
        }
        &__intro {
            width: 479px;
        }
    }
}

@media (min-width: 1568px) {
    .aboutFull {
        &ContentWrapper {
            flex-direction: row;
            gap: 20px;
        }
        &IntroWrapper {
            display: none;
        }
        &__text {
            width: 100%;
        }
    }
}
